:host {
	display: block;
}

.user-avatar {
	border-radius: 0.5rem;
}

.user-info {
	display: grid;
	flex: 1;
	text-align: left;
	line-height: 1.2;
}

.user-info span:first-child {
	font-size: 0.875rem;
}

.user-info span:last-child {
	font-size: 0.75rem;
}

.menu-icon {
	margin-left: auto;
	font-size: 1rem;
}

.menu-user {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.25rem;
}
